[Desktop Entry]
Name=Blackjacker
Comment=Play blackjack
Exec=python3 /home/felipe/Code/blackjack/src/Window.py
Icon=/home/felipe/Code/blackjack/data/blackjacker.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;

